body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(images/body-bg.png);
}
.di {
	color: #999999;
	font-size: 12px;
	line-height: 15px;
}
.biao {
	font-size: 14px;
	color: #555555;
	font-weight: bold;
}
.biao1{
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.biao3 {
	font-size: 20px;
	color: #ff9001;
	line-height: 20px;
}
.zeng {
	font-size: 12px;
	color: #888888;
	line-height: 20px;
}
.a:link {
	color: #ff9001;
	text-decoration: underline;
	font-size: 12px;
}
.a:visited {
	color: #ff9001;
	text-decoration: none;
	font-size: 12px;
}
.a:hover {
	color: #000000;
	text-decoration: underline;
	font-size: 12px;
}
.a:active {
	color: #ff9001;
	font-size: 12px;
}
.b:link {
	color: #999999;
	text-decoration: none;
	font-size: 12px;
}
.b:visited {
	color: #999999;
	text-decoration: none;
	font-size: 12px;
}
.b:hover {
	color: #ff9001;
	text-decoration: none;
	font-size: 12px;
}
.b:active {
	color: #999999;
	font-size: 12px;
}
.c:link {
	color: #67B0D1;
	text-decoration: none;
	font-size: 12px;
}
.c:visited {
	color: #67B0D1;
	text-decoration: none;
	font-size: 12px;
}
.c:hover {
	color: #23164B;
	text-decoration: none;
	font-size: 12px;
}
.c:active {
	color: #67B0D1;
	font-size: 12px;
}
.d:link {
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.d:visited {
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.d:hover {
	color: #e87352;
	font-size: 14px;
	font-weight: bold;
}
.d:active {
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.full {
	width:100%;
	height:32px;
}
.zu {
	font-size: 12px;
	color: #000000;
	line-height: 40px;
}
.img_tb img{
	width:210px;
	height:210px;
}
#logo_div{
	margin:0 0 84px 0;
}
#nav_tb{
	position:absolute;
	width:967px;
	top:208px;
}
.error {
	font-size: 6px;
	color: #D8000C;
}

.pagination {
	
}

.pagination ul {
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	*zoom: 1;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
	display: inline;
}

.pagination a,.pagination span {
	float: left;
	padding: 0 14px;
	line-height: 38px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-left-width: 0;
}

.pagination a:hover,.pagination .active a,.pagination .active span {
	background-color: #f5f5f5;
}

.pagination .active a,.pagination .active span {
	color: #999999;
	cursor: default;
}

.pagination .disabled span,.pagination .disabled a,.pagination .disabled a:hover
	{
	color: #999999;
	cursor: default;
	background-color: transparent;
}

.pagination li:first-child a,.pagination li:first-child span {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.pagination li:last-child a,.pagination li:last-child span {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.pagination-centered {
	text-align: center;
}

.pagination-right {
	text-align: right;
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #29bd35;
	background-image: -moz-linear-gradient(top, #2cbd24, #24bd4f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2cbd24),
		to(#24bd4f));
	background-image: -webkit-linear-gradient(top, #2cbd24, #24bd4f);
	background-image: -o-linear-gradient(top, #2cbd24, #24bd4f);
	background-image: linear-gradient(to bottom, #2cbd24, #24bd4f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2cbd24',
		endColorstr='#ff24bd4f', GradientType=0);
	border-color: #24bd4f #24bd4f #187d34;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #24bd4f;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=    false);
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]
	{
	color: #ffffff;
	background-color: #24bd4f;
	*background-color: #20a846;
}